
<% partial 'shared/box', :size=> 'big', :text => 'Upozornění' do %>
  <div>
    <p> Síť je momentálně v údržbě. </p>

    <p> Vyzkoušejte naše nové experimentální fórum - jedná se o funkcionalitu Google Wave, implementovanou pomocí její open source verze - Apache Wave. </p>
    <br>
    <br>
    <a href="http://wave.test.4students.cz">Vyzkoušet nyní</a>

  </div>
<% end %>
